<div class="container" style="max-width: 500px">
    <div class="text-center text-danger pt-3">
        <h1>ODMOWA DOSTĘPU</h1>
    </div>
    <div class="text-center pt-3">Nie masz uprawnień do przeglądania tego zasobu.</div>
</div>
